body{
    background-color: #3e3e3e;
    text-align:center;
}

.circle{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.bottom-left-circle{
    background-color: orangered;
    border-bottom-left-radius: 200px;
    }

.bottom-right-circle{
    background-color: limegreen;
    border-bottom-right-radius: 200px;
}

.top-left-circle{
    border-top-left-radius: 200px;
    background-color: yellow;
}

.top-right-circle{
    border-top-right-radius: 200px;
    background-color: deepskyblue;
}

